services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    env_file:
      - ./blog_management_platform/.env
    ports:
      - "3306:3306"
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - mysql_data:/var/lib/mysql
  backend:
    build: ./blog_management_platform
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./blog_management_platform/.env
    depends_on:
      - mysql
    
volumes:
  mysql_data: